name: Build Android APK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: List files
      run: |
        ls -la
    
    - name: Build APK
      uses: docker://kivy/buildozer:latest
      with:
        args: buildozer android debug
    
    - name: List build results
      run: |
        ls -la
        ls -la bin/ || true
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*